---
http_interactions:
- request:
    method: get
    uri: https://api.lokalise.com/api2/projects/2273827860c1e2473eb195.11207948
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Token:
      - "<LOKALISE_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Lokalise-Process-Id:
      - 235deae5-d91c-4d1c-ab12-9c4bc7a9ceeb
    body:
      encoding: ASCII-8BIT
      string: '{"project_id":"2273827860c1e2473eb195.11207948","project_type":"localization_files","name":"Angular","description":"","created_at":"2021-06-10
        09:58:31 (Etc\/UTC)","created_at_timestamp":1623319111,"created_by":20181,"created_by_email":"bodrovis@protonmail.com","team_id":176692,"base_language_id":1055,"base_language_iso":"en_US","settings":{"per_platform_key_names":true,"reviewing":true,"upvoting":false,"auto_toggle_unverified":true,"offline_translation":false,"key_editing":true,"inline_machine_translations":true,"branching":true,"segmentation":false,"custom_translation_statuses":false,"custom_translation_statuses_allow_multiple":false},"statistics":{"progress_total":35,"keys_total":26,"team":8,"base_words":64,"qa_issues_total":174,"qa_issues":{"not_reviewed":104,"unverified":60,"spelling_grammar":5,"inconsistent_placeholders":0,"inconsistent_html":0,"different_number_of_urls":0,"different_urls":0,"leading_whitespace":2,"trailing_whitespace":2,"different_number_of_email_address":0,"different_email_address":0,"different_brackets":0,"different_numbers":1,"double_space":0,"special_placeholder":0,"unbalanced_brackets":0},"languages":[{"language_id":1055,"language_iso":"en_US","progress":100,"words_to_do":0},{"language_id":673,"language_iso":"fr","progress":3,"words_to_do":62},{"language_id":748,"language_iso":"pl","progress":3,"words_to_do":62},{"language_id":597,"language_iso":"ru","progress":37,"words_to_do":40}]}}'
  recorded_at: Fri, 10 Jun 2022 14:29:40 GMT
recorded_with: VCR 6.1.0
